Teller 1 : {{arr_teller[0].kemampuan}} customer / {{time}} second 
<br>
Teller 2 : {{arr_teller[1].kemampuan}} customer / {{time}} second
<br>
Teller 3 : {{arr_teller[2].kemampuan}} customer / {{time}} second
<br>
Teller 4 : {{arr_teller[3].kemampuan}} customer / {{time}} second
<br>

Total Customer : {{customer}}
<br>

Waktu tercepat : {{fastest}} second
<br>

Hasil:
<br>

Teller 1 : {{arr_teller[0].result}} customer 
<br>
Teller 2 : {{arr_teller[1].result}} customer
<br>
Teller 3 : {{arr_teller[2].result}} customer
<br>
Teller 4 : {{arr_teller[3].result}} customer
<br>